<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CompositeUI" type="Microsoft.Practices.CompositeUI.Configuration.SettingsSection, Microsoft.Practices.CompositeUI"  allowExeDefinition="MachineToLocalUser" />
	</configSections>
	<CompositeUI>
		<services>
			<add serviceType="components.Service, service-config" instanceType="components.ServiceImpl, service-config" />
		</services>
	</CompositeUI>
</configuration>